/* line 5, ../sass/style.scss */
h1 {
  text-align: center;
}

/* line 8, ../sass/style.scss */
h2 {
  text-align: center;
}

/* line 12, ../sass/style.scss */
#main .row:nth-child(even) {
  background-color: #63add0;
  color: #FFFFFF;
}

/* line 18, ../sass/style.scss */
#main-nav {
  width: 100%;
  z-index: 1;
}
