@import "variables";
@import "mixins";
@import "compass/utilities/color/contrast";

h1{
	text-align:center;
}
h2{
	text-align:center;
}
#main{
	.row:nth-child(even){
		background-color:$row-color;
		
		@include set-header-color($row-color);
	}
}
#main-nav{
	width:100%;
	z-index:1;
}